html {
  background-color: rgb(28, 28, 28);
  color: rgb(203, 208, 208);
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

input {
  background-color: rgb(51, 55, 58);
  color: rgb(203, 208, 208);
  border: none;
  font-weight: bold;
}

input:focus {
  outline: rgb(51, 55, 58) solid 2px;
}

input::placeholder {
  color: lightgray;
}